<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="BeanContainer" class="org.beangle.cdi.spring.context.SpringContainer">
    <description>Spring提供的Bean容器</description>
    <property name="moduleLocations" value="classpath*:beangle.xml" />
  </bean>
</beans>
